$button-height: 32px;
$button-bg: #fff;
$button-bg-active: #eee;
$font-size: 14px;
$border-radius: 4px;
$color: #333;
$border-color: #999;
$border-color-hover: #666;

$red: #f1453d;
$height: 32px;
$color-disabled: #9c9c9c;
$color-error: $red;

$border-color-error: $red;
$border-color-disabled: #9c9c9c;

$padding: 0 8px;
$input-font-size: 12px;
$box-shadow-color: rgba(0, 0, 0, 0.5);
